body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #00e5ff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

article {
    background-color: rgb(255, 255, 255);
    width: 400px;
}

.article-but {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: rgb(237, 210, 210);
    display: flex;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
